@media screen and (min-width: 980px) /* Desktop */ {
	#content {
		position: relative;
		width: 65%;
		left: 5%;
	}
}


@media screen  and (max-width: 979px) /* Tablet */ {
    #content {
		position: relative;
		width: 90%;
		left: 5%;
	}
}


@media screen and (max-width: 500px) /* Mobile */ {
	#content {
		position: relative;
		width: 90%;
		left: 5%;
	}
}
