
.sub_prob {
	font-style: italic;
	font-weight: bold;
	text-indent: 5%;
	display: inline-block;
}

.term {
	font-style: italic;
	font-weight: bold;
}

.it {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.topic {
	font-size: 1.5em;
}

.eq { 
	text-indent: 8%;
}


p, span {
        font-family: "Times New Roman", Times, serif;
}

span {
	display: inline-block;
}

figure.topimg {
	text-align: center;
	margin: 0.01em;
}

#fig1-1 img {
	display: inline-block;
	max-width: 429px;
	width: 100%;
	margin: 0.01em auto;
}

#fig1-2 img {
	display: inline-block;
	max-width: 572px;
	width: 100%;
	margin: 0.01em auto;
}

#fig1-8 img {
	display: inline-block;
	max-width: 709px;
	width: 100%;
	margin: 0.01em auto;
}


.content {
    position: relative;
    width: 60vw;
    border: 3px solid #73AD21;
} 

.indentedText {
    position: absolute;
	left: 5vw;
} 

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}
